/* Mobile-first styles */
body {
  font-size: 16px; /* Default font size for mobile */
}

/* Header and Navigation */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a {
  margin: 10px 0;
}

/* Home Content */
.home-content {
  max-width: 100%; /* Adjust the width to fit the screen */
}

.home-content h1 {
  font-size: 32px; /* Reduce the font size for mobile */
}

.home-content h3 {
  font-size: 24px; /* Reduce the font size for mobile */
}

.home-content p {
  font-size: 14px; /* Reduce the font size for mobile */
  margin: 20px 0; /* Adjust spacing for mobile */
}

.btn-box {
  flex-direction: column; /* Stack buttons vertically for mobile */
  width: 100%; /* Adjust the width to fit the screen */
}

.btn-box a {
  width: 100%; /* Make buttons full-width on mobile */
  margin: 10px 0; /* Adjust spacing for mobile */
}

/* Social Media Links */
.home-sci {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Adjust the width to fit the screen */
}

/* Media Queries for Larger Screens */
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px; /* Increase font size for larger screens */
  }
  
  /* Add any other styles for larger screens */
}
